#user-grid {
  width: 90%;
}

.grid-header {
  border: 1px solid var(--grey);
}

.grid-row:nth-child(odd) {
  background-color: var(--light-grey);
}

.grid-row,
.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-row {
  overflow-wrap: break-word;
}

.grid-row > span,
.grid-header > span {
  padding: 15px 10px;
}

.grid-header > span {
  font-weight: bold;
  display: block;
}

.user-id {
  width: 10%;
}

.user-name {
  width: 20%;
}

.user-email {
  width: 25%;
}

.user-cpf {
  width: 20%;
}

.user-data {
  width: 25%;
}

@media only screen and (max-width: 800px) {
  .grid-header,
  .grid-row {
    min-width: 700px;
  }
}
